<p id="notice"><%= notice %></p>

<h1 class="text-center">Bookings</h1>
<br>
<br>
<div class="col-md-12 table-responsive">
  <table class="table">
    <thead>
      <th></th>
      <% @Rooms.each do |room| %>
        <th><%= room.name %></th>
      <% end %>
    </thead>
  <tbody>
    <% @times.each do |time| %>
    <tr>
      <td><%= time %></td>
      <% @Rooms.each do |room| %>
        <% if @availability %>
          <td class="bg-primary"></td>
        <% else %>
          <td class="bg-success"></td>
        <% end %>
      <% end %>
    </tr>
    <% end %>
  </table>
</div>

<br>

<%= link_to 'New Booking', new_booking_path %>
