/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
.info{
  /* Margin:0 auto;
  Display: block; */
  /* text-align: center; */
  margin-left: 38%;
  background-color: #F7F7F7;
  width: 400px;
  padding: 20px 25px 30px; */
  margin: 0 auto 25px; */
  margin-top: 50px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 7px;
  -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

table {
  overflow: hidden;
}

tr:hover {
  /* background-color: #ffa; */
  border-top:1px #666 double;
  border-bottom:1px #666 double;
}

td, th {
  position: relative;
}
td:hover::after,
th:hover::after {
  content: "";
  position: absolute;
  border-left:1px #666 solid;
  border-right:1px #666 solid;
  /* background-color: #ffa; */
  left: 0;
  top: -5000px;
  height: 10000px;
  width: 100%;
  z-index: -1;
}

/* ========== Navigation Bar ============ */

nav{
  display:flex;
  justify-content: space-between;
  background-color: #ddd;
  align-items: center;
}

nav a{
  display:inline-block;
  padding:0.75em;
}
nav a:hover{
  background: linear-gradient(180deg, #ccc 0%, #bbb 20%, #aaa 80%, #999 100%);
  text-decoration: none;
  text-shadow: 0 0 5px #fff, 0 0 5px #fff;
}

.navImg{
  padding:0;
  margin:0 5px;
  margin-top:-5px;
  vertical-align: middle;
  border-radius: 20px;
}
.navImg img{
  height:40px;
}

/* ========================== */

table.table th, table.table td  {
    text-align: center;
    border: 1px solid #ddd;
    width: 10vw;
}


.date {
  width: 175px;
  margin:auto;
}

.arrow_button img{
  width: 30px;
  transition-duration: 0.2s;
  border-radius: 50%;
}
.arrow_button img:hover{
  transform: scale(1.2);
  box-shadow: 0 0 10px #00f;
}

.arrow_button{
  margin: 0px 20px;
}

#booking_date_select {
  margin:auto;
}

#calendarIndex{
  margin:auto;
}

.clickable:hover{
  cursor: pointer;
  background-color: #444;
  color: #fff;
  box-shadow: 0 0 30px #fff inset;
}

div.resultsForm{
  position:relative;
}
.hidden{
  display:none;
}
div.formCoverUp{
  position:absolute;
  overflow: hidden;
  height:100%;
  width:100%;
  box-sizing: border-box;
  padding: 30% 10%;
  font-size: 1.2rem;
  text-align: center;
  vertical-align: middle;
  background-color: rgba(247,247,247,0.95);
}

div.indexInput{
  display:inline-block;
  align-self: center;
}

div.indexInput>*{
  margin-bottom:10px;
}

/* ====== Background Table Coloring ============ */
.bg-Academy_Visit{
  background-color: #fcc;
}
.bg-One-on-One{
  background-color: #cfc;
}
.bg-Training_Session{
  background-color: #ccf;
}
.bg-Sparta_Day{
  background-color: #ffc;
}
.bg-Client_Interview{
  background-color: #fcf;
}
.bg-Sparta_Day_Interview{
  background-color: #cff;
}
.bg-Other{
  background-color: #ccc;
}

.active-day {
  color: green;
}
